PORT=9150

# Service Base URLs
NEXT_PUBLIC_ADMIN_SERVICE_URL=https://proc.ahmard.com/admin/api/v1
NEXT_PUBLIC_AUTH_SERVICE_URL=https://proc.ahmard.com/auth/api/v1
NEXT_PUBLIC_CATALOG_SERVICE_URL=https://proc.ahmard.com/catalog/api/v1
NEXT_PUBLIC_PROCUREMENT_SERVICE_URL=https://proc.ahmard.com/procurement/api/v1
